.container {
    display: flex;
    flex-direction: column;

    background-image: url("../../assets/lucian_splash_hd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main {
    flex: 1;

    min-height: 100vh;
}

.main.withHeader {
    margin-top: var(--header-height);
}

.scrollup {
    position: fixed;
    bottom: 80px;
    right: 80px;


    border-radius: 100%;
    border: 1px solid #888;
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
    font-size: 2rem;
    padding: 12px;

    opacity: 1;
    transition:
        background-color 400ms ease,
        color 400ms ease,
        opacity 400ms ease;
}

.scrollup:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.scrollup.hidden {
    opacity: 0;
    pointer-events: none;
}