.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    min-height: 100vh;
	padding-top: 30vh;
	padding-bottom: 10vh;

    backdrop-filter: contrast(80%);
    background-color: rgba(0, 0, 0, 0.7);
}

.searchSection {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: min(600px, calc(100% - 40px));
	gap: 40px;
	min-height: 400px;

	padding-top: 20px;
}

.subtitle {
	display: none;
    color: #aaa;
}

.recentSearches {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.recentSearches h2 {
	color: gray;
	font-weight: normal;
	font-size: 1rem;
	text-align: right;
}

.downButton {
	font-size: 20px;
	color: #999;
	padding-top: 6px;
	padding-bottom: 6px;
	transition: 
		padding-top 400ms ease,
		padding-bottom 400ms ease,
		color 400ms ease;
	background: none;
	border: none;
}

.downButton:hover {
	color: #eee;
	padding-top: 12px;
	padding-bottom: 0px;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.container {
		flex-direction: column;
		align-items: center;
		gap: 20px;
		padding-top: 10vh;
	}

	.searchSection {
		padding-top: 0;
	}

	.header {
		font-size: 4rem;
	}
}
