#
# Note: `.env` files are not loaded automatically by the program. When calling
# the program, you must load them by some other means (e.g., by specifying the
# file in the docker command, loading them with some CLI tool, etc.)
#

RIOT_TOKEN="get your developer API key from https://developer.riotgames.com"
CONTROLWARD_PORT="3000"
